.App{
  padding: 40px 200px;
  font-size: 13px !important;
}

.button, .btn{
  font-size: 13px !important;
}

.txt-small{
  font-size: 12px !important;
}

tr td:nth-child(3n){
  display: flex;
  justify-content: center;
  align-items: center;
}

.label{
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
}

.label-hard{
  background-color: rgb(177, 8, 8);
}

.label-normal{
  background-color: rgb(218, 145, 10);
}

.label-easy{
  background-color: rgb(6, 148, 6);
}

table tr th:not(:nth-last-child()){
  text-align: center;
}

.icon-check{
  margin: auto auto;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 148, 6);
  border-radius: 50%;
  color: white;
}

.icon-times{
  margin: auto auto;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 8, 8);
  border-radius: 50%;
  color: white;
}
